.wp-block-gemeindetag-anmeldeformular {
	padding: 50px;
	background-color: #f8f8f8;
	margin-bottom: 50px;
	box-sizing: border-box;
}

.wp-block-gemeindetag-anmeldeformular .components-spinner {
	display: block;
	background-color: darkgrey;
	width: 30px;
	height: 30px;
	opacity: 0.7;
	margin: 5px 11px 0;
	margin: 0 auto;
	text-align: center;
	border-radius: 100%;
	position: relative;
}

.wp-block-gemeindetag-anmeldeformular .components-spinner::before {
	content: "";
	position: absolute;
	background-color: white;
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	transform-origin: 12px 12px;
	animation: components-spinner__animation 1s infinite linear;
}

.wp-block-gemeindetag-anmeldeformular .anmeldung-notice {
	display: block;
	text-align: center;
}

@keyframes components-spinner__animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.wp-block-gemeindetag-anmeldeformular .page-heading {
	color: var(--wp--preset--color--orange);
	font-size: 2em;
	margin-top: 0;
	text-align: center;
	margin-bottom: 50px;
}

.wp-block-gemeindetag-anmeldeformular .section-heading {
	font-size: 1.75em;
	color: var(--wp--preset--color--orange);
}

.wp-block-gemeindetag-anmeldeformular section {
	margin-bottom: 3em;
}

.wp-block-gemeindetag-anmeldeformular section:last-of-type {
	margin-bottom: 0em;
}

.wp-block-gemeindetag-anmeldeformular .flex-column {
	display: flex;
	flex-direction: column;
}

.wp-block-gemeindetag-anmeldeformular .flex-column {
	margin-top: 2em;
}

.wp-block-gemeindetag-anmeldeformular .flex-column:last-of-type {
	margin-top: 0em;
}

.wp-block-gemeindetag-anmeldeformular input[type="submit"],
.wp-block-gemeindetag-anmeldeformular button,
.wp-block-gemeindetag-anmeldeformular .button {
	background-color: var(--wp--preset--color--orange);
	padding: 15px 35px;
	border-radius: 8px;
	border: 1px solid var(--wp--preset--color--orange);
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	appearance: none;
}

.wp-block-gemeindetag-anmeldeformular input[type="submit"] .outline,
.wp-block-gemeindetag-anmeldeformular button .outline,
.wp-block-gemeindetag-anmeldeformular .button .outline {
	background-color: white;
	border: 1px solid var(--wp--preset--color--orange);
	color: var(--wp--preset--color--orange);
}

.wp-block-gemeindetag-anmeldeformular input[type="submit"]:hover,
.wp-block-gemeindetag-anmeldeformular button:hover,
.wp-block-gemeindetag-anmeldeformular .button:hover {
	filter: brightness(85%);
	cursor: pointer;
}

.wp-block-gemeindetag-anmeldeformular fieldset {
	border: 0 !important;
	margin: 0;
	padding: 0;
}

.wp-block-gemeindetag-anmeldeformular .buttons {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wp-block-gemeindetag-anmeldeformular .buttons button {
	margin: 10px;
}

.wp-block-gemeindetag-anmeldeformular label {
	padding: 10px 5px;
}

.wp-block-gemeindetag-anmeldeformular .workshops.card,
.wp-block-gemeindetag-anmeldeformular .ausfluege.card {
	position: relative;
	align-self: stretch;
}

.wp-block-gemeindetag-anmeldeformular .workshops.card label,
.wp-block-gemeindetag-anmeldeformular .ausfluege.card label {
	align-self: stretch;
	display: block;
	position: relative;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 15px;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	height: 100%;
}

.wp-block-gemeindetag-anmeldeformular .workshops.card label .element-heading {
	color: var(--c-workshops);
}

.wp-block-gemeindetag-anmeldeformular .ausfluege.card label .element-heading {
	color: var(--c-ausfluege);
}

.wp-block-gemeindetag-anmeldeformular .workshops.card input:checked + label {
	border-color: var(--c-workshops);
}

.wp-block-gemeindetag-anmeldeformular .ausfluege.card input:checked + label {
	border-color: var(--c-ausfluege);
}

.wp-block-gemeindetag-anmeldeformular .workshops.card .numerierung,
.wp-block-gemeindetag-anmeldeformular .ausfluege.card .numerierung {
	position: absolute;
	top: 15px;
	right: 15px;
	color: var(--c-workshops);
	size: 2em;
}

.wp-block-gemeindetag-anmeldeformular .ausfluege.card .numerierung {
	color: var(--c-ausfluege);
}

.wp-block-gemeindetag-anmeldeformular .card .bechreibung {
	margin-bottom: 1em;
}
.wp-block-gemeindetag-anmeldeformular .card .person {
	margin-right: 1em;
}

.wp-block-gemeindetag-anmeldeformular .card input {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.wp-block-gemeindetag-anmeldeformular .is-disabled::before {
	content: "Ausgebucht!";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 2em;
	color: var(--c-warnung);
	z-index: 1;
	font-weight: 800;

}

.wp-block-gemeindetag-anmeldeformular .is-disabled label {
	opacity: 0.3;
}

.wp-block-gemeindetag-anmeldeformular .workshop-list,
.wp-block-gemeindetag-anmeldeformular .ausfluege-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.wp-block-gemeindetag-anmeldeformular table {
	border-collapse: collapse;
	margin: 1em 0;
}

.wp-block-gemeindetag-anmeldeformular .table-heading {
	background-color: #97b226;
	color: white;
}
.wp-block-gemeindetag-anmeldeformular .table-row {
	background-color: #ffffff;
}

.wp-block-gemeindetag-anmeldeformular td,
.wp-block-gemeindetag-anmeldeformular th {
	padding: 5px 10px;
}

.wp-block-gemeindetag-anmeldeformular td.price,
.wp-block-gemeindetag-anmeldeformular th.price {
	text-align: right;
}

.wp-block-gemeindetag-anmeldeformular .table-row:nth-child(odd) {
	background-color: #eeeeee;
}

.wp-block-gemeindetag-anmeldeformular .table-footer {
	border-top: 3px solid black;
	font-weight: bold;
}

.wp-block-gemeindetag-anmeldeformular textarea {
	width: 100%;
}

.wp-block-gemeindetag-callout {
	box-sizing: border-box;
	padding: 4em 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 600px) {
	.wp-block-gemeindetag-callout {
		flex-direction: row;
	}
}

.wp-block-gemeindetag-callout h2 {
	margin-right: 2em;
	line-height: 1;
	font-size: 2em;
}

.wp-block-gemeindetag-callout a {
	width: 300px;
	text-align: center;
}