node_modules
build
.DS_Store
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

node_modules

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-includes
/wp-cron.php
/wp-config-sample.php
/wp-comments-post.php
/wp-blog-header.php
/wp-admin
/wp-activate.php
/index.php
/wp-content/themes/twentynineteen
/wp-content/themes/index.php
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen
/wp-content/plugins/index.php
/wp-content/index.php
/.DS_Store
/wp-content/plugins/.DS_Store
/wp-content/.DS_Store
/wp-content/plugins/check-email
/wp-content/plugins/wp-mail-smtp
/wp-content/plugins/wp-migrate-db-pro
/wp-content/plugins/wp-migrate-db-pro-media-files
/wp-content/plugins/wp-migrate-db-pro-theme-plugin-files
build
/wp-content/plugins/gutenberg
/wp-content/languages
/invoices
/wp-content/plugins/wp-sentry-integration
/wp-content/themes/twentytwenty
/liesmich.html
